.route-dp a {
    text-decoration: none;
    color: #cccccc;
    font-size: 13px;
    line-height: 35px;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 30px;
}

.right-grid-dp {
    padding-left: 60px;
}

.img-icon-header-dp {
    height: 18px;
    width: 18px;
}

.grid-header-dp {
    display: grid;
    grid-template-columns: 70% 30%;
    font-size: 25px;
}

.grid-item-horizontal {
    display: inline-block;
}
.grid-4item-dp{
    display: grid;
    grid-template-columns: 35% 20% 20% 25%;
}
.btn-add-to-cart{
    background-color:#024137 ;
    border: 1px solid transparent;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}
.btn-check-in-shop{
    background-color:#ddab0a ;
    border: 1px solid transparent;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}